@media (max-width:1920px) {
    .hidden {
        display: none;
    }
}

@media (max-width:1178px) {
    .navbar__main_item {
        padding: 9px 10px;
    }
}

@media (max-width:1026px) {
    .nav__box_1,
    .nav__box_2 {
        display: none;
    }

    .download,
    .key,
    .mail {
        padding-left: 20px;
    }

    .description__item {
        padding-top: 183px;
    }
}

@media (max-width:910px) {
    .logo {
        margin-left: 0px;
        margin-right: 30px;
    }

    .header__two {
        flex-direction: column;
    }

    .about {
        margin-left: 10px;
    }

    .description__item {
        padding-top: 160px;
    }
}

@media (max-width:818px) {
    .call {
        display: none;
    }

    .hidden {
        display: inline;
        font-size: 14px;
        border-bottom: 1px dashed #000;
        color: #000;
    }

    .phones__item:not(:last-child) {
        margin-bottom: 10px;
    }

    .phones {
        margin-right: 10px;
    }

    .description__item {
        padding-left: 10px;
    }

    .title__item {
        padding-top: 35px;
        padding-left: 60px;
        background-position: 13px 39px;
    }
}

@media (max-width:650px) {
    .logo {
        margin-bottom: 20px;
    }

    .description__item {
        padding-top: 140px;
    }

    .header__one {
        flex-direction: column;
        text-align: center;
    }

    .information {
        margin-left: 0;
    }

    .download,
    .key,
    .mail {
        background-image: none;
    }

    .phones {
        margin-bottom: 20px;
    }

    .navbar {
        margin-bottom: 20px;
    }

    .navbar__main_item {
        font-size: 15px;
    }

    .about {
        display: inline;
    }

    .title__item {
        padding-top: 23px;
        padding-left: 30px;
        background-position: 1px 25px;
        padding-top: 19px;
        padding-left: 43px;
        text-shadow: rgb(112, 112, 106) 1px 0 10px;
    }

    .description__item {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 16px;
        line-height: 20px;
        padding-top: 100px;
    }

    .about__teacher,
    .about__courses {
        margin-left: 20px;
        margin-right: 10px;
    }

    .about__teacher_description2 {
        margin-bottom: 20px;
        max-width: 100%;
    }

    .about__teacher_description3 {
        max-width: 100%;
        padding-bottom: 50px;
    }
}

@media (max-width:430px) {
    #page__exit {
        display: inline;
        align-items: center;
    }

    .navbar__main {
        display: inline;
    }

    .description__item {
        padding-top: 55px;
    }

    .title__item  {
        font-size: 20px;
    }

    .about__teacher__main_left {
        margin-top: 100px;
    }

    .search {
        width: 270px;
    }

    input[type="search"] {
        width: 230px;
    }
}

@media (max-width:390px) {
    .about__teacher__main {
        display: inline;
    }

    .about__teacher__main_left {
        margin-top: 0px;
        margin-bottom: 10px;
        text-align: center;
    }

    .about__teacher_title  {
        margin-top: 20px;
    }

    .teacher_description_item:not(:last-child) {
        margin-bottom: 13px;
    }

    .program {
        margin-bottom: 15px;
    }
}